html {
  box-sizing: border-box;
}

*,
*::after,
::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  color: #000000;
  font-family: "OpensansRegular", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/*--top-header--*/
.header__inner {
  margin-top: 40px;
  position: relative;
  background-color: #f7e296;
}
.header-logo {
  position: absolute;
  left: 60px;
  bottom: 103px;
  font-family: "GilroyextraBold", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #000;
  margin-top: 65px;
}
.header-logo:hover {
  opacity: 0.6;
}
.header-logo:active {
  opacity: 0.3;
}
.search {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
}
.search__input {
  font-size: 15px;
  font-weight: 300;
  position: relative;
  left: 36px;
  background-color: #f7e296;
  width: 262px;
  height: 29px;
  border: none;
}
.search__input:hover {
  opacity: 0.6;
}
.search__input:active {
  opacity: 0.3;
  outline: none;
  border: none;
}
.search__input:focus {
  outline: none;
  border: none;
}

.search__btn {
  position: absolute;
  right: 750px;
  top: 35px;
  display: none;
}

.search__input:active + .search__btn {
  display: block;
}
.search__input:focus + .search__btn {
  display: block;
}

.search__btn--link:hover {
  background-color: #000;
  color: #fff;
}
.search__btn--link:hover::after {
  opacity: 0;
}
.search__btn--link {
  color: #000;
  border: 2px solid #000;
  padding: 10px 20px;
  position: relative;
}
.search__btn--link::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 2px;
  background-color: #000;
  top: 41.5px;
  right: 90px;
}
.search__img {
  bottom: 50px;
  position: absolute;
  margin-right: 16px;
}
.top__menu {
  padding-top: 41px;
  display: flex;
  justify-content: space-between;
}
.top__menu--list {
  display: flex;
  list-style: none;
  margin-bottom: 50px;
}
.cart:hover,
.compare:hover,
.user:hover {
  opacity: 0.6;
}
.cart:active,
.compare:active,
.user:active {
  opacity: 0.3;
}
.cart {
  margin-right: 35px;
  position: relative;
}
.cart__link,
.compare__link,
.user__link {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #000000;
}
.compare {
  margin-right: 71px;
  position: relative;
}
.user {
  margin-right: 218px;
  position: relative;
}
.user__link--svg {
  position: absolute;
  top: 6px;
  right: 60px;
}
.compare__link--svg {
  position: absolute;
  top: 8px;
  right: 90px;
}
.cart__link--svg {
  position: absolute;
  top: 6px;
  right: 75px;
}
/*--/top-header--*/
/*--menu--*/
.menu__inner {
  background-color: #f7e296;
  display: flex;
  justify-content: space-between;
}

.menu-catalog {
  padding-left: 60px;
  position: relative;
  margin-bottom: 60px;
}
.menu-catalog__link:hover {
  opacity: 0.6;
}
.menu-catalog__link:active {
  opacity: 0.3;
}
.menu-catalog__link {
  padding-bottom: 30px;
  background-color: #f7e296;
  color: #000;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.menu-catalog::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #b8a974;
  top: 11.5px;
  left: 288px;
  cursor: pointer;
}
.menu-catalog::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  background-color: #b8a974;
  left: 295px;
  top: 5px;
  cursor: pointer;
}

.service__list {
  list-style: none;
  display: flex;
}
.сontacts {
  margin-right: 35px;
}
.guarantee {
  margin-right: 164px;
}
.deliveri {
  margin-right: 48px;
}
.сontacts:hover,
.guarantee:hover,
.deliveri:hover {
  opacity: 0.6;
}
.сontacts:active,
.guarantee:active,
.deliveri:active {
  opacity: 0.3;
}
.deliveri__link,
.guarantee__link,
.сontacts__link {
  color: #000;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.menu-catalog__inner {
  display: flex;
  position: absolute;
  width: 1200px;
  left: 0px;
  top: 30px;
  background-color: #f7e296;
  display: none;
}

.sub-menu__item--link {
  padding-top: 20px;
  padding-bottom: 25px;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 600;
  color: #000;
  background-color: #f7e296;
}
.sub-menu__item--link:hover {
  opacity: 0.6;
}
.sub-menu__item--link:active {
  opacity: 0.3;
}
.catalog__list {
  list-style: none;
  padding-left: 60px;
}
.menu-catalog__link:hover + .menu-catalog__inner {
  display: flex;
  width: 1200px;
  z-index: 3;
  height: 200px;
}
.menu-catalog__inner:hover {
  display: flex;
  width: 1200px;
  height: 200px;
  z-index: 3;
}
/*--/menu--*/

/*--slider--*/
.slider {
  background: linear-gradient(180deg, #f7e296 24%, #fff 0%);
  display: none;
}
.slider__inner {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 106px;
}
.slider__description {
  padding-top: 70px;
}
.slider1__decor {
  position: relative;
}
.slider1__decor::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #fff;
  top: -40px;
  left: 5px;
}
.slider1__decor::before {
  content: "01";
  color: #fff;
  position: absolute;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.79px;
  left: 380px;
  top: -73px;
}

.slider2__decor {
  position: relative;
}
.slider2__decor::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #fff;
  top: -40px;
  left: 5px;
}
.slider2__decor::before {
  content: "02";
  color: #fff;
  position: absolute;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.79px;
  left: 340px;
  top: -75px;
}

.slider3__decor {
  position: relative;
}
.slider3__decor::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #fff;
  top: -40px;
  left: 5px;
}
.slider3__decor::before {
  content: "03";
  color: #fff;
  position: absolute;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.79px;
  left: 380px;
  top: -55px;
}
.slider-title {
  font-family: "GilroyextraBold", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
  margin-top: 21px;
  margin-bottom: 31px;
  z-index: 2;
}
.slider3-title {
  font-family: "GilroyextraBold", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
  margin-top: 38px;
  margin-bottom: 31px;
}
.slider-text {
  font-family: "OpensansRegular", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
  margin-bottom: 64px;
}
.slider-detail {
  display: flex;
  margin-left: 0px;
  margin-bottom: 71px;
  position: relative;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: 1s all ease;
}

.slider-detail__link {
  color: #000000;
  background: linear-gradient(
    to top,
    #fff 40%,
    #f0c52e 40%,
    #f0c52e 55%,
    #fff 0%
  );
  padding: 15px 50px 15px;
}

.slider-detail__link:hover {
  color: #000000;
  background: linear-gradient(
    to top,
    #fff 10%,
    #f0c52e 10%,
    #f0c52e 100%,
    #fff 0%
  );
  padding: 15px 50px 15px;
  transition: 0.2s;
}

/*--slider__wrapper--*/
.main__container {
  margin: 0 auto;
  width: 1200px;
  position: relative;
}
.slide__label {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: 980px;
  bottom: 1920px;
  z-index: 3;
}
.first-slide {
  left: 0px;
}
.second-slide {
  left: 30px;
}
.third-slide {
  left: 60px;
}
.slide__input {
  width: 1px;
  height: 1px;
  display: none;
}

.slide__label::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 10px;
  border: 2px solid #7e7e7e;
}
.slide__input:checked + .slide__label::after {
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 10px;
  border: 2px solid #7e7e7e;
  background-color: #fff;
}

.slide__input:checked + .slide__label + .slider {
  display: flex;
}
/*--/slider__circle--*/

.slide-specification {
  display: flex;
  justify-content: space-between;
}
.slide-specification__item-value {
  font-family: "GilroyLight", sans-serif;
  font-size: 36px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.36px;
}
.slide-specification__item-name {
  font-family: "OpensansRegular", sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: 0.13px;
  color: #464646;
}

/*--/slider--*/
/*--populars__inner--*/
.populars__inner {
  display: flex;
  justify-content: space-between;
}
.populars-block {
  display: flex;
  flex-direction: column;
}
.populars-block:active {
  opacity: 0.4;
}
.populars-block__img {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  position: relative;
}
.populars-block__img:hover {
  background-color: #f0c52e;
}
.populars-block__img--svg {
  flex-wrap: wrap;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.populars-block__item {
  text-align: center;
  margin-top: 39px;
  padding-bottom: 84px;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  color: #000000;
}

/*--/populars__inner--*/
/*--advantages--*/
.advantages {
  display: flex;
  /* justify-content: space-between; */
  background: linear-gradient(180deg,#fff 0%, #fff 15%, #e5e5e5 15%, #e5e5e5 80%);
  height: 350px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 100px;
}

.advantages__inner {
  display: flex;
  flex-direction: column;
  
}
.advantages-slider {
  display: flex;
  flex-direction: row;
  display: none;
}
.advantages-slider__text {
  position: absolute;
  margin-left: 400px;
  margin-top: -70px;
}
.advantages-slider__text2 {
  position: absolute;
  margin-left: 400px;
  margin-top: -165px;
}
.advantages-slider__text3 {
  position: absolute;
  margin-left: 400px;
  margin-top: -260px;
}
.advantages-slider__text--title {
  font-family: "GilroyextraBold", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 35px;
}
.advantages-slider__text--item {
  font-family: 'OpensansRegular' sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
}
.advantages-slider__text--img {
  position: absolute;
  width: 136px;
  height: 164px;
  bottom: 1040px;
  right: 100px;
}
.advantages__decore {
  position: relative;
}
.advantages__decore::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 319px;
  background-color: #000;
  left: 280px;
  top: -37px;
}

.advantages__input {
  display: none;
}
.advantages__label {
  margin-top: 40px;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  background: linear-gradient(
    to top,
    transparent 40%,
    #f0c52e 40%,
    #f0c52e 55%,
    transparent 0%
  );
  width: 220px;
  padding: 15px 40px 15px;
  text-align: center;
}

.advantages__label:hover {
  color: #000000;
  background: linear-gradient(
    to top,
    #f0c52e 10%,
    #f0c52e 100%
  );
  width: 220px;
  transition: 0.2s;
}
.advantages__input:checked + .advantages__label {
  width: 220px;
  padding: 15px 220px 15px 60px;
  background-color: #000;
  background: linear-gradient(#000,#000);
  color: #f7e184;
  transition: 0.2s;
}
.advantages__input:checked + .advantages__label + .advantages-slider {
  display: block;
}
/*--/advantages--*/
/*--brands--*/
.brands {
  display: flex;
  justify-content: space-between;
}
.brands__img1 {
  background: url(../img/brands/brand1.png);
  width: 260px;
  height: 100px;
  margin-bottom: 100px;
}
.brands__img1:hover {
  background: url(../img/brands/brand1-color.png);
  width: 260px;
  height: 100px;
}
.brands__img2 {
  background: url(../img/brands/brand2.png) no-repeat 50% 50%;
  width: 260px;
  height: 100px;
}
.brands__img2:hover {
  background: url(../img/brands/brand2-color.png) no-repeat 50% 50%;
  width: 260px;
  height: 100px;
}
.brands__img3 {
   background: url(../img/brands/brand3.png);
   width: 260px;
   height: 100px;
}
.brands__img3:hover {
  background: url(../img/brands/brand3-color.png);
  width: 260px;
  height: 100px;
}
.brands__img4 {
  background: url(../img/brands/brand4.png);
  width: 260px;
  height: 100px;
}
.brands__img4:hover {
  background: url(../img/brands/brand4-color.png);
  width: 260px;
  height: 100px;
}

/*--/brands--*/
/*--information--*/
.information {
  display: flex;
  justify-content: space-between;
}
.information-about__title,
.information-contacts__title {
  font-family: 'GilroyextraBold', sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 60px;
}
.information-about__decore,
.information-contacts__decore {
  width: 80px;
  height: 7px;
  background-color: #000000;
  margin-bottom: 50px;
}
.information-about__text,
.information-contacts__text {
  font-family: 'OpensansRegular', sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  margin-bottom: 45px;
}
.information-about__list--item {
  font-family: 'GilroyextraBold', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  list-style: none;
  position: relative;
  margin-left: 20px;
  margin-bottom: 30px;
}
.information-about__list--item::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  background-color: #fff;
  border-radius: 50%;
  left: -20px;
  top: 8px;
}
.information-about__list {
  margin-bottom: 60px;
}

.information-about__link,
.information-contacts__link {
  font-family: 'GilroyextraBold', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000;
  background: linear-gradient(
    to top,
    #fff 40%,
    #f0c52e 40%,
    #f0c52e 55%,
    #fff 0%
  );
  padding: 15px 50px 15px;
}

.information-about__link:hover,
.information-contacts__link:hover {
  color: #000000;
  background: linear-gradient(
    to top,
    #fff 10%,
    #f0c52e 10%,
    #f0c52e 100%,
    #fff 0%
  );
  padding: 15px 50px 15px;
  transition: 0.2s;
}
.information-contacts__map--preview {
  margin-top: 40px;
  margin-bottom: 78px;
  width: 560px;
  height: 222px;
  /* background: url(../img/bg/map.png); */
}
/*--/information--*/
/*--popup--*/
.popup {
  display: none;
}
.popup:target {
  display: flex;
  top: 1990px;
  left: 10%;
  position: absolute;
  width: 960px;
  height: 590px;
  background: #FFFFFF;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 3;
}
.wrapper {
  margin: 63px 99px 84px 100px;
}
.popup__title {
  display: flex;
  justify-content: flex-end;
}

.popup__title--exit {
  position: relative;
  margin-top: 21px;
  margin-right: 20px;
  bottom: 50px;
  left: 40px;
  border-radius: 50%;
  background-color: #f8e397;
  border: 1px solid #f8e397;
  width: 55px;
  height: 55px;
}
.popup__title--exit:active {
  opacity: 0.5;
}
.popup__title--exit:hover {
  opacity: 0.4;
}


.popup__title--exit::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 2px;
  border-radius: 30px;
  background-color: #fff;
  transform: rotate(45deg);
  left: 25px;
  top: 11px;
}
.popup__title--exit::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  border-radius: 30px;
  background-color: #fff;
  transform: rotate(45deg);
  top: 25px;
  left: 12px;
}

.enter {
  display: flex;

}
.enter__name, 
.enter__mail {
  display: flex;
  flex-flow: column wrap;
  margin-right: 40px;
  margin-bottom: 34px;
}
.enter__name--title,
.enter__mail--title,
.message__title {
  color: #000;
  font-family: "GilroyExtraBold", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
}
.enter__name--text,
.enter__mail--text {
  border: 2px solid #D7DCDE;
  background-color: #D7DCDE;
  width: 360px;
  height: 50px;
  opacity: 0.5;
  color: #464646;
  font-family: "OpensansRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}
.enter__name--text:hover,
.enter__mail--text:hover,
.message__text:hover {
  opacity: 0.7;
}
.enter__name--text:active,
.enter__mail--text:active,
.message__text:active {
  background-color: #fff;
  border: 2px solid #f8e397;
}
.enter__name--text:focus,
.enter__mail--text:focus,
.message__text:focus {
  background-color: #fff;
  border: 2px solid #f8e397;
}
.message {
  display: flex;
  flex-flow: column wrap;
}
.message__text {
  padding: 15px;
  color: #4444;
  width: 760px;
  height: 118px;
  border: 2px solid #D7DCDE;
  background-color: #D7DCDE;
  color: #464646;
  font-family: "OpensansRegular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  opacity: 0.5;
}
.send__btn {
  text-transform: uppercase;
  background: linear-gradient(
    to top,
    #fff 40%,
    #f0c52e 40%,
    #f0c52e 55%,
    #fff 0%
  );
  border-radius: 3px;
  padding: 14px 36px 14px 36px;
  position: relative;
  top: 50px;
  letter-spacing: 4.2px;
  color: #000;
  font-size: 17px;
  font-family: "GilroyExtraBold",sans-serif;
  font-style: bold;
  font-weight: 400;
}
.send__btn:hover {
  background: linear-gradient(
    to top,
    #fff 10%,
    #f0c52e 10%,
    #f0c52e 100%,
    #fff 0%
  );
  transition: 0.2s;
  border-radius: 3px;
}
/*--/popup--*/
/*--Footet--*/
.footer {
  margin-top: 95px;
  background-color: #464646;
  width: 100%;
  height: 323px;
}
.inner {
  display: flex;
  justify-content: space-between;
}
.logo-link {
  font-family: "GilroyextraBold", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #ffc600;
  margin-top: 65px;
}
.logo-link:hover {
  opacity: 0.6;
}
.logo-link:active {
  opacity: 0.3;
}

.inner__footer {
  margin-bottom: 30px;
}
.inner__footer--list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  margin-top: 65px;
}
.item__user,
.item__compare,
.item__basket {
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #ffffff;
  opacity: 0.7;
}
.item__user:hover,
.item__compare:hover,
.item__basket:hover {
  opacity: 0.9;
}
.item__user:active,
.item__compare:active,
.item__basket:active {
  opacity: 0.3;
}
.item {
  padding-left: 55px;
  background-color: #464646;
}
#cart {
  fill: #ffc600;
}
#user {
  fill: #ffc600;
}
#compare {
  fill: #ffc600;
}

.adress__list {
  display: flex;
  list-style: none;
}
.advantage {
  margin-bottom: 70px;
}

.advantage__deliveri,
.advantage__quality,
.advantage__contacts {
  color: #ffffff;
  padding-right: 38px;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
}
.advantage__deliveri:hover,
.advantage__quality:hover,
.advantage__contacts:hover {
  opacity: 0.6;
}
.advantage__deliveri:active,
.advantage__quality:active,
.advantage__contacts:active {
  opacity: 0.3;
}

.adress {
  display: flex;
  justify-content: space-between;
}
.adress__list {
  list-style: none;
  margin-top: 5px;
}
.adress__title--link,
.adress__phone--link {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
}
.adress__phone {
  margin-right: 37px;
}

.social {
  display: flex;
  justify-content: space-between;
}
.social__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.icons {
  margin-left: 23px;
}
#facebuk {
  fill: #7e7e7e;
}
a svg:hover #facebuk {
  fill: #b5b5b5;
}
a svg:active #facebuk {
  fill: #595959;
}
#insta,
#insta-rect,
#insta-color,
#insta-corcl {
  fill: #7e7e7e;
}
a svg:hover #insta,
a svg:hover #insta-rect,
a svg:hover #insta-color,
a svg:hover #insta-corcl {
  fill: #b5b5b5;
}
a svg:active #insta,
a svg:active #insta-rect,
a svg:active #insta-color,
a svg:active #insta-corcl {
  fill: #595959;
}
#tviter {
  fill: #7e7e7e;
}
a svg:hover #tviter {
  fill: #b5b5b5;
}
a svg:active #tviter {
  fill: #595959;
}
.social__decoration {
  position: relative;
}
.social__decoration::after {
  content: "";
  width: 80px;
  height: 7px;
  display: block;
  position: absolute;
  top: 12px;
  background-color: #ffc600;
}
.social__logo-academi {
  margin-right: 35px;
}
#logo-html {
  fill: #ffc600;
}
a svg:hover #logo-html {
  opacity: 0.6;
}
a svg:active #logo-html {
  opacity: 0.3;
}
/*--/Footet--*/
