html {
  box-sizing: border-box;
}

*,
*::after,
::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  color: #000000;
  font-family: "OpensansRegular", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/*--top-header--*/
.header__inner {
  margin-top: 40px;
  position: relative;
  background-color: #f7e296;
}
.header-logo {
  position: absolute;
  left: 60px;
  bottom: 103px;
  font-family: "GilroyextraBold", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #000;
  margin-top: 65px;
}
.header-logo:hover {
  opacity: 0.6;
}
.header-logo:active {
  opacity: 0.3;
}
.search {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
}
.search__input {
  font-size: 15px;
  font-weight: 300;
  position: relative;
  left: 36px;
  background-color: #f7e296;
  width: 262px;
  height: 29px;
  border: none;
}
.search__input:hover {
  opacity: 0.6;
}
.search__input:active {
  opacity: 0.3;
  outline: none;
  border: none;
}
.search__input:focus {
  outline: none;
  border: none;
}

.search__btn {
  position: absolute;
  right: 750px;
  top: 35px;
  display: none;
}

.search__input:active + .search__btn {
  display: block;
}
.search__input:focus + .search__btn {
  display: block;
}

.search__btn--link:hover {
  background-color: #000;
  color: #fff;
}
.search__btn--link:hover::after {
  opacity: 0;
}
.search__btn--link {
  color: #000;
  border: 2px solid #000;
  padding: 10px 20px;
  position: relative;
}
.search__btn--link::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 2px;
  background-color: #000;
  top: 41.5px;
  right: 90px;
}
.search__img {
  bottom: 50px;
  position: absolute;
  margin-right: 16px;
}
.top__menu {
  padding-top: 41px;
  display: flex;
  justify-content: space-between;
}
.top__menu--list {
  display: flex;
  list-style: none;
  margin-bottom: 50px;
}
.cart:hover,
.compare:hover,
.user:hover {
  opacity: 0.6;
}
.cart:active,
.compare:active,
.user:active {
  opacity: 0.3;
}
.cart {
  margin-right: 35px;
  position: relative;
}
.cart__link,
.compare__link,
.user__link {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #000000;
}
.compare {
  margin-right: 71px;
  position: relative;
}
.user {
  margin-right: 218px;
  position: relative;
}
.user__link--svg {
  position: absolute;
  top: 6px;
  right: 60px;
}
.compare__link--svg {
  position: absolute;
  top: 8px;
  right: 90px;
}
.cart__link--svg {
  position: absolute;
  top: 6px;
  right: 75px;
}
/*--/top-header--*/
/*--menu--*/
.menu__inner {
  background-color: #f7e296;
  display: flex;
  justify-content: space-between;
}

.menu-catalog {
  padding-left: 60px;
  position: relative;
  margin-bottom: 60px;
}
.menu-catalog__link:hover {
  opacity: 0.6;
}
.menu-catalog__link:active {
  opacity: 0.3;
}
.menu-catalog__link {
  padding-bottom: 30px;
  background-color: #f7e296;
  color: #000;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.menu-catalog::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #b8a974;
  top: 11.5px;
  left: 288px;
  cursor: pointer;
}
.menu-catalog::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  background-color: #b8a974;
  left: 295px;
  top: 5px;
  cursor: pointer;
}

.service__list {
  list-style: none;
  display: flex;
}
.сontacts {
  margin-right: 35px;
}
.guarantee {
  margin-right: 164px;
}
.deliveri {
  margin-right: 48px;
}
.сontacts:hover,
.guarantee:hover,
.deliveri:hover {
  opacity: 0.6;
}
.сontacts:active,
.guarantee:active,
.deliveri:active {
  opacity: 0.3;
}
.deliveri__link,
.guarantee__link,
.сontacts__link {
  color: #000;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.menu-catalog__inner {
  display: flex;
  position: absolute;
  width: 1200px;
  left: 0px;
  top: 30px;
  background-color: #f7e296;
  display: none;
}

.sub-menu__item--link {
  padding-top: 20px;
  padding-bottom: 25px;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 600;
  color: #000;
  background-color: #f7e296;
}
.sub-menu__item--link:hover {
  opacity: 0.6;
}
.sub-menu__item--link:active {
  opacity: 0.3;
}
.catalog__list {
  list-style: none;
  padding-left: 60px;
}
.menu-catalog__link:hover + .menu-catalog__inner {
  display: flex;
  width: 1200px;
  z-index: 3;
  height: 200px;
}
.menu-catalog__inner:hover {
  display: flex;
  width: 1200px;
  height: 200px;
  z-index: 3;
}
/*--/menu--*/

/*--slider--*/
.slider {
  background: linear-gradient(180deg, #f7e296 24%, #fff 0%);
  display: none;
}
.slider__inner {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 106px;
}
.slider__description {
  padding-top: 70px;
}
.slider1__decor {
  position: relative;
}
.slider1__decor::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #fff;
  top: -40px;
  left: 5px;
}
.slider1__decor::before {
  content: "01";
  color: #fff;
  position: absolute;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.79px;
  left: 380px;
  top: -73px;
}

.slider2__decor {
  position: relative;
}
.slider2__decor::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #fff;
  top: -40px;
  left: 5px;
}
.slider2__decor::before {
  content: "02";
  color: #fff;
  position: absolute;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.79px;
  left: 340px;
  top: -75px;
}

.slider3__decor {
  position: relative;
}
.slider3__decor::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #fff;
  top: -40px;
  left: 5px;
}
.slider3__decor::before {
  content: "03";
  color: #fff;
  position: absolute;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1.79px;
  left: 380px;
  top: -55px;
}
.slider-title {
  font-family: "GilroyextraBold", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
  margin-top: 21px;
  margin-bottom: 31px;
  z-index: 2;
}
.slider3-title {
  font-family: "GilroyextraBold", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000000;
  margin-top: 38px;
  margin-bottom: 31px;
}
.slider-text {
  font-family: "OpensansRegular", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
  margin-bottom: 64px;
}
.slider-detail {
  display: flex;
  margin-left: 0px;
  margin-bottom: 71px;
  position: relative;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: 1s all ease;
}

.slider-detail__link {
  color: #000000;
  background: linear-gradient(
    to top,
    #fff 40%,
    #f0c52e 40%,
    #f0c52e 55%,
    #fff 0%
  );
  padding: 15px 50px 15px;
}

.slider-detail__link:hover {
  color: #000000;
  background: linear-gradient(
    to top,
    #fff 10%,
    #f0c52e 10%,
    #f0c52e 100%,
    #fff 0%
  );
  padding: 15px 50px 15px;
  transition: 0.2s;
}

/*--slider__wrapper--*/
.slider__wrapper {
  position: relative;
}
.slide__label {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: 995px;
  bottom: 260px;
}
.first-slide {
  left: 0px;
}
.second-slide {
  left: 30px;
}
.third-slide {
  left: 60px;
}
input {
  width: 1px;
  height: 1px;
  display: none;
}

.slide__label::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 10px;
  border: 2px solid #7e7e7e;
}
.slide__input:checked + .slide__label::after {
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 10px;
  border: 2px solid #7e7e7e;
  background-color: #fff;
}

.slide__input:checked + .slide__label + .slider {
  display: flex;
}
/*--/slider__circle--*/

.slide-specification {
  display: flex;
  justify-content: space-between;
}
.slide-specification__item-value {
  font-family: "GilroyLight", sans-serif;
  font-size: 36px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.36px;
}
.slide-specification__item-name {
  font-family: "OpensansRegular", sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: 0.13px;
  color: #464646;
}

/*--/slider--*/
/*--populars__inner--*/
.populars__inner {
  display: flex;
  justify-content: space-between;
}
.populars-block {
  display: flex;
  flex-direction: column;
}
.populars-block:active {
  opacity: .4;
}
.populars-block__img {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  position: relative;
}
.populars-block__img:hover {
  background-color: #f0c52e;
}
.populars-block__img--svg {
  flex-wrap: wrap;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.populars-block__item {
  text-align: center;
  margin-top: 39px;
  padding-bottom: 84px;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
  color: #000000;
}

/*--/populars__inner--*/
/*--Footet--*/
.footer {
  background-color: #464646;
  width: 100%;
  height: 323px;
}
.inner {
  display: flex;
  justify-content: space-between;
}
.logo-link {
  font-family: "GilroyextraBold", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #ffc600;
  margin-top: 65px;
}
.logo-link:hover {
  opacity: 0.6;
}
.logo-link:active {
  opacity: 0.3;
}

.inner__footer {
  margin-bottom: 30px;
}
.inner__footer--list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  margin-top: 65px;
}
.item__user,
.item__compare,
.item__basket {
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #ffffff;
  opacity: 0.7;
}
.item__user:hover,
.item__compare:hover,
.item__basket:hover {
  opacity: 0.9;
}
.item__user:active,
.item__compare:active,
.item__basket:active {
  opacity: 0.3;
}
.item {
  padding-left: 55px;
  background-color: #464646;
}
#cart {
  fill: #ffc600;
}
#user {
  fill: #ffc600;
}
#compare {
  fill: #ffc600;
}

.adress__list {
  display: flex;
  list-style: none;
}
.advantage {
  margin-bottom: 70px;
}

.advantage__deliveri,
.advantage__quality,
.advantage__contacts {
  color: #ffffff;
  padding-right: 38px;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
}
.advantage__deliveri:hover,
.advantage__quality:hover,
.advantage__contacts:hover {
  opacity: 0.6;
}
.advantage__deliveri:active,
.advantage__quality:active,
.advantage__contacts:active {
  opacity: 0.3;
}

.adress {
  display: flex;
  justify-content: space-between;
}
.adress__list {
  list-style: none;
  margin-top: 5px;
}
.adress__title--link,
.adress__phone--link {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
}
.adress__phone {
  margin-right: 37px;
}

.social {
  display: flex;
  justify-content: space-between;
}
.social__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.icons {
  margin-left: 23px;
}
#facebuk {
  fill: #7e7e7e;
}
a svg:hover #facebuk {
  fill: #b5b5b5;
}
a svg:active #facebuk {
  fill: #595959;
}
#insta,
#insta-rect,
#insta-color,
#insta-corcl {
  fill: #7e7e7e;
}
a svg:hover #insta,
a svg:hover #insta-rect,
a svg:hover #insta-color,
a svg:hover #insta-corcl {
  fill: #b5b5b5;
}
a svg:active #insta,
a svg:active #insta-rect,
a svg:active #insta-color,
a svg:active #insta-corcl {
  fill: #595959;
}
#tviter {
  fill: #7e7e7e;
}
a svg:hover #tviter {
  fill: #b5b5b5;
}
a svg:active #tviter {
  fill: #595959;
}
.social__decoration {
  position: relative;
}
.social__decoration::after {
  content: "";
  width: 80px;
  height: 7px;
  display: block;
  position: absolute;
  top: 12px;
  background-color: #ffc600;
}
.social__logo-academi {
  margin-right: 35px;
}
#logo-html {
  fill: #ffc600;
}
a svg:hover #logo-html {
  opacity: 0.6;
}
a svg:active #logo-html {
  opacity: 0.3;
}
/*--/Footet--*/
